body {
	background-color: black;
	padding-top: 100px;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 150px;
	max-width: 2550px;
}

.wrapper > div {
	border-radius: 5px;
  	background-color: rgb(186, 186, 186);
  	padding: 1em;
}

.wrapper {
	display: flex;
	gap: 10px;
}
.flex-container {
    display: flex; /* Enables Flexbox layout */
    flex-wrap: wrap;
    flex-direction: row; /* Aligns children in a row (default setting) */
    justify-content: space-between; /* Distributes space between items */
    padding: 20px; /* Adds padding around the container */
}

.box {
    flex: 1; /* Allows the boxes to grow equally */
    justify-content: center;
    border-radius: 25px;
    margin: 0 10px; /* Adds space between the boxes */
    background-color: blueviolet; /* Sets background color */
    text-align: center; /* Centers text horizontally */
    padding: 20px; /* Adds padding inside each box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0); /* Adds shadow to the boxes */
    color: white; /* Sets text color for contrast */
    flex-shrink: 1;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
    align-self: flex-start; /* aligns the content of each item to its size */
}
.alert {
	text-align: center;
	margin-right: 150px;
	margin-left: 550px;
}
#completed {
	color: darkgreen;
}
#about-me {
	text-align: center;
}

